<html>

<head>
    <title>Landing page tester</title>
    <link rel="stylesheet" href="/css/page.min.css">
    <link rel="stylesheet" href="/css/pagestyle.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>